h1{
    text-align: center;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}

table{
    border: gray solid 2px;
}

th[colspan="2"] {
    text-align: center;
    background-color: rgb(238, 234, 234);
}

th[colspan="3"] {
    text-align: center;
}

.gray{
    background-color: rgb(238, 234, 234);
}
.visibility {
    display: none;
  }
.cameraButtons{
    border: none;
}

.outer-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
 }
 .inner-grid {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
 }
 .inner-grid img {
    margin-top: 8px;
    width: 100%;
    padding: 10px;
 }
 @media screen and (max-width: 800px) {
    .inner-grid {
       flex: 50%;
       max-width: 50%;
    }
 }
 @media screen and (max-width: 600px) {
    .inner-grid {
       flex: 100%;
       max-width: 100%;
    }
}
img{
    width: 100px;
    height: auto;
}
